@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,600&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    height: 97vh;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #FFFFFB;
    font-family: 'Playfair Display', sans-serif;
}


.main {
    width: 100%;
    height: 100%;
    padding: 5px 30px 5px 30px;
    display: flex;
    flex-direction: row;
}

.main-left {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.main-right {
    display: flex;
    flex: 1;
}


.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.header-items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    font-size: 40px;
}

.directives {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    font-weight: 500;
}

.search {
    width: 275px;
    height: 40px;
    background-color: #f3f3f3;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-weight: normal;
    color: #33333340;
    /* justify-content: center; */
    align-items: center;
}

.search-container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex: 1; */
}

input {
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 13px;
    font-weight: normal;
    color: #333333;
}

input::placeholder {
    font-size: 13px;
    font-weight: normal;
    color: #33333360;
}

.divider {
    margin: 10px 0px 10px 0px;
    height: 1px;
    width: 100%;
    background-color: #33333340;
    border-radius: 10px;

}

.hot-news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hot-news-left {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.hot-news-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.title {
    font-size: 25px;
    margin-right: 50px;
}

.date {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.categories {
    padding: 5px 5px 5px 5px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    /* font-weight: 500; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.double-divider-main {
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;

}

.double-divider {

    height: 1px;
    width: 100%;
    background-color: #33333340;
    border-radius: 10px;
}

.post-main {
    margin-top: 20px;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;

    /* background-color: red; */
}

.post-photo {
    height: 100%;
    width: 50%;
    display: flex;
    flex: 0.57;
    /* background-color: red; */
}

.photo-container {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: red;
}

.photo-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 80px solid white;
    border-left: 80px solid #33333340;
    width: 0;
}


.space {
    display: flex;
    flex: 0.03
}

.post-desc {
    height: 100%;
    width: 50%;
    display: flex;
    flex: 0.4;
    flex-direction: column;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.post-title {
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.post-summery {
    font-family: "Raleway", sans-serif;
    font-family: 17px;
    font-weight: 700;
    letter-spacing: 1px;
}

.post-details {
    font-family: "Raleway", sans-serif;
    font-family: 17px;
    color: grey;
    font-weight: 500;
    letter-spacing: 1px;
}